body {
  background-color: black;
}

body > div {
  position: relative;
}

#background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  z-index: -5;
}

.keys {
  border: none;
}

.key {
  color: lightgrey;
  width: 55px;
  height: 55px;
  font-size: 30px;
  display: inline-block;
  border-style: double;
  background-color: #325C74;
  transition: all 0.07s;
}

#top {
  margin-top: 150px;
}

iframe {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  height: 315px;
  width: 560px;
  position: relative;
}

h1 {
  background-color: black;
  color: lightgrey;
  height: auto;
  font-family: 'Shadows Into Light';
  padding-top: 10px;
  text-indent: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

div > div {
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  text-align: center;
  background-color: black;
  z-index: 1;
  border: 1px solid grey;
  opacity: .8;
  transition: border 1s;
}

div > div:hover {
  border-color: #325C74	;
}

p, li {
  color: lightgrey;
  font-size: 20px;
  font-family: 'Shadows Into Light';
  list-style: none;
  width: auto;
  padding: 0px 10px 0px 10px;
}

footer, a {
  text-align: center;
  color: lightgrey;
}

button {
  background-color: gray;
}
